@import "../../assets/styles/variables";

.header {
    display: flex;
    justify-content: space-between;
    padding: 18.5px 25px;

    &__logo {
        width: 30px;
        height: 30px;
    }

    &__dropDown {
        &_img {
            margin-right: 10px;
        }
    }
}
