@import "../../assets/styles/variables";
@import "../../assets/styles/mixin";

.secretPhrase {
    margin: 60px 45px 40px 45px;

    &__logo {
        margin-bottom: 20px;
    }

    &__title {
        font-family: $SFCompactRoundedThin;
        font-weight: 300;
        font-size: 30px;
        line-height: 40px;
        color: $black;
        padding-right: 25px;
        margin-bottom: 10px;
    }

    &__subTitle {
        font-family: $SFCompactRoundedThin;
        font-size: 14px;
        line-height: 24px;
        color: $black;
        margin-bottom: 40px;
    }

    &__warning {
        font-family: $SFCompactRoundedThin;
        font-size: 14px;
        line-height: 24px;
        color: $purple100Color;
        margin-bottom: 50px;
    }

    &__revealSecretWordsVisible {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;

        &_text {
            font-family: $SFCompactRounded;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: $white;
        }
    }

    &__revealSecretWordsUnvisible {
        display: none;
    }

    &__labelStyle {
        font-family: $SFCompactRounded;
        font-size: 8px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #151719;
        margin-bottom: 8px;
        display: block;
    }

    &__textareaWrapperUnvisible {
        background: #4A4A4A;
        overflow: hidden;
        position: relative;
    }

    &__textareaWrapperVisible {
        background: transparent;
        overflow: auto;
    }

    &__inputUnvisibleStyle,
    &__inputVisibleStyle {
        border: none;
        padding: 15px 20px;
        background: linear-gradient(0deg, #F4F4F4, #F4F4F4);
        border-radius: 4px;
        outline: none;
        width: 100%;
        font-size: 20px;
        line-height: 30px;
        color: $black;
        min-height: 125px;
        resize: none;
    }

    &__inputUnvisibleStyle {
        color: #9E9E9E;
        filter: blur(5px);
        background: #4A4A4A;
    }

    &__inputWrapperStyle {
        display: flex;
        flex-direction: column;
    }

    &__buttonWrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        &_copyBtn,
        &_next {
            @include mainBtnStyle;
            width: 150px;
            height: 36px;
            border-radius: 18.5px;
            font-family: $SFCompactRounded;
            font-weight: bold;
            font-size: 10px;
            line-height: 10px;
            text-align: center;
            text-transform: uppercase;
        }

        &_copyBtn {
            @include purpleBtnWithBorderAndBackground;
            margin-right: 10px;
        }

        &_next {
            @include purpleBtnWithOutBackground;
            margin-left: 10px;
        }
    }
}
