@import "../../assets/styles/variables";
@import "../../assets/styles/mixin";

.welcomeBack {
    padding: 60px 45px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__logo {
        margin-bottom: 20px;

        &_img {
            width: 46px;
            height: 53px;
        }
    }

    &__title {
        font-family: $SFCompactRoundedThin;
        font-weight: 300;
        font-size: 30px;
        line-height: 40px;
        color: $black;
        padding-right: 25px;
        margin-bottom: 10px;
    }

    &__subTitle {
        font-family: $SFCompactRounded;
        font-size: 14px;
        line-height: 24px;
        color: $black;
    }

    &__labelStyle {
        font-family: $SFCompactRoundedThin;
        font-size: 8px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #151719;
        margin-bottom: 8px;
        display: flex;
    }

    &__inputStyle,
    &__inputStyleError {
        width: 285px;
        height: 60px;
        font-family: $SFCompactRoundedThin;
        letter-spacing: 1px;
        font-size: 20px;
        background: #F4F4F4;
        border-radius: 4px;
        border: 1px solid #F4F4F4;
        transition: all 0.25s;
        outline: none;
        padding: 15px 20px;

        &:hover,
        &:focus {
            border: 1px solid $purple100Color;
        }

        &::placeholder {
            font-size: 20px;
            color: #9E9E9E;
            letter-spacing: 1px;
        }
    }

    &__inputStyle {
        color: $darkGreyColor;
    }

    &__inputStyleError {
        color: $redColor;
    }

    &__inputWrapperStyle {
        margin-top: 30px;
        position: relative;
    }

    &__restoreAccount {
        font-family: $SFCompactRoundedThin;
        font-size: 14px;
        color: #4A4A4A;
        margin-top: 20px;
    }

    &__importSeedPhrase {
        font-family: $SFCompactRoundedThin;
        font-size: 14px;
        color: $purple100Color;
        margin-top: 20px;
    }

    &__submitBtn {
        @include purpleBtnWithOutBackground;
        @include mainBtnStyle;
        width: 150px;
        height: 36px;
        border-radius: 18.5px;
        font-family: $SFCompactRounded;
        font-weight: bold;
        font-size: 10px;
        line-height: 10px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 30px;
    }
}
