@import "../../assets/styles/variables";

.homePage {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $SFCompactRounded;
    color: $greyColor;
    font-size: 40px;
}
