@font-face {
    font-family: 'SFCompactRounded';
    src: url('../fonts/SFUIDisplay-Regular.eot'),
        url('../fonts/SFUIDisplay-Regular.ttf'),
        url('../fonts/SFUIDisplay-Regular.woff');
}

@font-face {
    font-family: 'SFUIDisplay-Thin';
    src: url('../fonts/SFUIDisplay-Thin.eot'),
        url('../fonts/SFUIDisplay-Thin.ttf'),
        url('../fonts/SFUIDisplay-Thin.woff');
}
