$SFCompactRounded: 'SFCompactRounded', Arial, Helvetica, sans-serif;
$SFCompactRoundedThin: 'SFUIDisplay-Thin', Arial, Helvetica, sans-serif;
$greyColor: #42434B;
$darkGreyColor: #505761;
$purple100Color: #6A7FF9;
$purple10Color: #ced5fd;
$black: #000000;
$white: #ffffff;

// tablet sizes

$tablet10px: 1.31vw;
$tablet12px: 1.6vw;
$tablet14px: 1.8vw;
$tablet16px: 2.1vw;
$tablet18px: 2.35vw;
$tablet20px: 2.61vw;
$tablet24px: 3.14vw;
$tablet26px: 3.39vw;
$tablet28px: 3.65vw;
$tablet30px: 3.91vw;
$tablet32px: 4.17vw;
$tablet36px: 4.7vw;
$tablet40px: 5.21vw;
$tablet48px: 6.25vw;
$tablet50px: 6.52vw;
$tablet55px: 7vw;
$tablet60px: 7.82vw;
$tablet64px: 8.34vw;
$tablet70px: 9.12vw;
$tablet80px: 10.42vw;
$tablet88px: 11.5vw;
$tablet176px: 22.93vw;

// mobile sizes

$mobile10px: 2.67vw;
$mobile12px: 3.2vw;
$mobile16px: 4.3vw;
$mobile20px: 5.34vw;
$mobile24px: 6.4vw;
$mobile25px: 6.7vw;
$mobile28px: 7.9vw;
$mobile30px: 8vw;
$mobile32px: 8.5vw;
$mobile34px: 8.7vw;
$mobile42px: 11vw;
$mobile55px: 14.7vw;
$mobile60px: 16vw;
$mobile65px: 17.4vw;
$mobile68px: 18.15vw;
$mobile70px: 19vw;
$mobile75px: 20vw;
$mobile150px: 40vw;
